.product__expert--side--item3 {
	text-align: center;
}
.faq__section-body {
	justify-content: space-around;
}
.faq__question {
	width: calc(33% - 30px);
	margin: 0;
	border: 1px solid #f4f4f4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 0.5rem;
	margin: 0.5rem;
}
.faq__question h5 {
	text-align: center;
}
.faq__question a {
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: inherit;
}
.schema__item-body {
	border: 1px solid blue;
}
.schema__item-container {
	border: 1px solid pink;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.catalogue__span-name {
	color: #0c61db;
}
.catalogue__span-brand {
	color: #bf360c;
}
.catalogue__span-price {
	color: #2e7d32;
	font-weight: bold;
}
